﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1><hr />
    @*<input type="submit" value="Save" class="btn btn-default" />*@
    <!--
        <p>
        @Html.ActionLink("Sample", "Create",
            null, htmlAttributes: new { @class = "mybtn" })
    </p>

    <style type="text/css">
        a.mybtn {
            background: #2b2c2b;
            color: #ffffff;
            display: inline-block;
            padding: 6px 12px 6px 12px;
            text-decoration: none;
        }

    </style>
    -->

    <p>This website is still under construction, so please stay tune!</p>
</div>
