﻿@model ImageModel
@{
    ViewData["Title"] = "Rotate Image";
}
<h1>Enter image URL</h1>
@*@using (Html.BeginForm("Upload", "ImageRotator", FormMethod.Post))
    {
        //<input id="url" name="Url" type="text" />
        @Html.TextBoxFor(x => x.Url);
        <input type="submit" value="Go!" class="btn btn-default" />
    }*@
<form asp-action="Upload" asp-controller="ImageRotator">
    <input asp-for="Url" class="form-control" />
    <input type="submit" value="Save" class="btn btn-primary" />
</form>
@if (!String.IsNullOrWhiteSpace(Model?.Base64String))
{
    <a asp-action="Rotate90Degrees" asp-controller="ImageRotator" asp-route-id="@Model.Id">Rotate right</a>

    <br />
    <img src="@Model.Base64String" alt="YOUR IMAGE HERE" />
}