﻿@{
    ViewData["Title"] = "Bài nói tuần này";
    var topics = Program.SpeakingTopics;

    int getRealTopicNumber()
    {
        var now = DateTimeOffset.UtcNow.ToOffset(new TimeSpan(7, 0, 0));
        var weeknum = Utils.GetIso8601WeekOfYear(now.DateTime);
        return weeknum + 6;
    }
    string getTopic(int num)
    {
        if (num >= Program.SpeakingTopics.Count) return "no topics found";
        var topic = Program.SpeakingTopics.ElementAt(num);
        return $"{num + 1}. {topic.Key} - {topic.Value}";
    }
    var topicNumber = getRealTopicNumber();
}
<h2>Bài nói tuần này là ...</h2>
<div>
    @getTopic(topicNumber - 2)
    <br>
    (theo như sự man trá của bạn Huyền Trần.)
</div>
<h2>
    nhưng nếu đúng ra thì chúng ta phải làm ...
</h2>
<div>
    @getTopic(topicNumber)
</div>
<hr />
<strong style="font-size:large">Danh sách toàn bộ topic</strong>
<ul>
    @for (int i = 0; i < topics.Count; i++)
    {
        var topic = topics.ElementAt(i);
        if (i == topicNumber || i == topicNumber - 2)
        {
            <li><span style="font-weight:bold">@($"{i + 1}. {topic.Key} - {topic.Value}")</span></li>
            continue;
        }
        <li>@($"{i + 1}. {topic.Key} - {topic.Value}")</li>
    }
</ul>
@*https://content.googleapis.com/drive/v3/files?q=%271DLhs1lskc3EmRBN4JSbhPjBSc8P_cmvZ%27%20in%20parents&key=AIzaSyAz-9o9q3fpJ7lpxU57pYVRh6t2rNOEBz8*@